.content{
	&-wrapper{
		width: 100%;
		background: $bodycolor;	
		height: calc(100vh - 70px);	
		display: flex;
	}
	&-area{
		width: 100%;
		&.collapsedWidth{			
			.fa-outdent{
				display: none;
			}
			.fa-indent{
				display: block;
			}
		}
	}
	&-header{
		width: 100%;
		height: 50px;
		background: lighten($primaryColor, 45%);
		@include flex-middle();		
		&-toggler{
			padding: 0 20px;
			margin-right: 20px;
			cursor: pointer;
			@include flex-middle();
			height: 100%;
			transition: all 300ms ease-in-out;
			background: $white;
			.fa-outdent{
				display: block;
			}
			.fa-indent{
				display: none;
			}
			&:hover{
				background: lighten($primaryColor, 20%);
				color: $white;
				border-right-color: lighten($primaryColor, 20%);
			}
		}
		&-title{
			font-weight: 500;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
}