$logosectionwidth: 113px;

.main-header{
	background-color: $white;
	max-height: 70px;
	width: 100%;
	height: 70px;
	display: inline-block;
	@include shadow(0,0,4px, $dropdown-shadow);
	position: relative;
	z-index: 2;
	float: left;


	&-logo-section{
		height: 70px;
		width: $logosectionwidth;		
		background: #e31c39;
		float: left;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
	}
	&-nav-section{
		height: 100%;		
		float: right;
		display: flex;
		align-items: center;
		.icon-size{
			.icons{
				font-size: 20px;
			}
			
		}

		
	}
	
}