// author ZeeMan(zeeshan manzoor)
// 2017 

// donot edit modules/_sprite directly as it is generated automatically
// by Gulp. Instead edit gulp/templates/Sprite

.icon{
	background-image: url('/assets/images/sprites/svg/sprite-6da27ef5.svg');
	display: inline-block;
}
	.icon--admin{
		width: 60px;
		height: 60px;
		background-position: 33.70786516853933% 67.82608695652173%;

	}

	.icon--ae{
		width: 32px;
		height: 16px;
		background-position: 64.70873786407768% 32.967032967032964%;

	}

	.icon--au{
		width: 32px;
		height: 16px;
		background-position: 35.58252427184466% 41.75824175824176%;

	}

	.icon--banking{
		width: 60px;
		height: 60px;
		background-position: 74.88764044943821% 0;

	}

	.icon--dashboard{
		width: 44px;
		height: 44px;
		background-position: 99.63917525773196% 57.142857142857146%;

	}

	.icon--edu{
		width: 44px;
		height: 44px;
		background-position: 99.63917525773196% 28.571428571428573%;

	}

	.icon--gklogo{
		width: 73.3px;
		height: 27.6px;
		background-position: 0 0;

	}

	.icon--ie{
		width: 32px;
		height: 16px;
		background-position: 93.83495145631068% 72.52747252747253%;

	}

	.icon--inventory{
		width: 60px;
		height: 60px;
		background-position: 41.17977528089887% 0;

	}

	.icon--it{
		width: 32px;
		height: 16px;
		background-position: 64.70873786407768% 41.75824175824176%;

	}

	.icon--pr{
		width: 32px;
		height: 16px;
		background-position: 35.58252427184466% 32.967032967032964%;

	}

	.icon--profile{
		width: 44px;
		height: 44px;
		background-position: 99.63917525773196% 0;

	}

	.icon--profile-avatar{
		width: 66px;
		height: 66px;
		background-position: 0 20.90909090909091%;

	}

	.icon--purchase{
		width: 60px;
		height: 60px;
		background-position: 0 67.82608695652173%;

	}

	.icon--sales{
		width: 60px;
		height: 60px;
		background-position: 67.41573033707866% 67.82608695652173%;

	}

	.icon--subsid{
		width: 23px;
		height: 20.3px;
		background-position: 20.46511627906977% 86.43781654473833%;

	}

	.icon--wishlist{
		width: 44px;
		height: 44px;
		background-position: 0 99.74025974025975%;

	}

