// author ZeeMan(zeeshan manzoor)
// 2017 

// donot edit modules/_sprite directly as it is generated automatically
// by Gulp. Instead edit gulp/templates/Sprite

.icon{
	background-image: url('/assets/images/sprites/svg/sprite-99392586.svg');
	display: inline-block;
}
	.icon--admin{
		width: 60px;
		height: 60px;
		background-position: 53.84615384615385% 0;

	}

	.icon--ae{
		width: 32px;
		height: 16px;
		background-position: 82.27848101265823% 44.11764705882353%;

	}

	.icon--au{
		width: 32px;
		height: 16px;
		background-position: 20.253164556962027% 100%;

	}

	.icon--banking{
		width: 60px;
		height: 60px;
		background-position: 0 82.6086956521739%;

	}

	.icon--gklogo{
		width: 70px;
		height: 76px;
		background-position: 0 0;

	}

	.icon--ie{
		width: 32px;
		height: 16px;
		background-position: 40.50632911392405% 100%;

	}

	.icon--inventory{
		width: 60px;
		height: 60px;
		background-position: 92.3076923076923% 82.6086956521739%;

	}

	.icon--it{
		width: 32px;
		height: 16px;
		background-position: 44.30379746835443% 44.11764705882353%;

	}

	.icon--pr{
		width: 32px;
		height: 16px;
		background-position: 0 100%;

	}

	.icon--purchase{
		width: 60px;
		height: 60px;
		background-position: 100% 0;

	}

	.icon--sales{
		width: 60px;
		height: 60px;
		background-position: 46.15384615384615% 82.6086956521739%;

	}

