//color variables
$white: #fff;
$headertextcolor: #253b49;
$black: #000;
$primary-color: #ffa016;
$grey-border: rgb(245, 246, 248);
$dropdown-shadow: rgba(35, 31, 32, 0.17);
$avatar-bg: #9cc7e2;
$bodycolor: #f5f6f8;
$primaryColor: #0c7cd5;


$sidebarwidth: 260px;

$item-padding-S: 18px;
$item-padding-M: 24px;