//color variables
$white: #fff;
$textcolor: #253b49;
$headertextcolor: #253b49;
$black: #000;
$primary-color: #ffa016;
$secondaryBlue : #03a9f4;
$primaryColor:#1f87da;


$dropdown-shadow: rgba(35, 31, 32, 0.17);
$avatar-bg: #9cc7e2;

$bodycolor: #f5f6f8;
$darkborder: #e4e4e4;
$grey-border: rgb(245, 246, 248);

$switchbtngrey: #cccccc;
$switchbtngreen: #28b91d;


$primaryColorForSale: #D21034;
$primaryColorForSetup: #4a568c;
$primaryColorForPurchase: #e74c3c;
$primaryColorForInventory:#005C8F;
$primaryColorForBanking: #bd081f;


$sidebarwidth: 260px;
$sidebarwidthcollapsed: 58px;

$item-padding-S: 18px;
$item-padding-M: 24px;

/*button variables*/
$defaultcolor: #dcdcdc;