@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900");
.main-header {
  background-color: #fff;
  max-height: 70px;
  width: 100%;
  height: 70px;
  display: inline-block;
  -webkit-box-shadow: 0 0 4px 0px rgba(35, 31, 32, 0.17);
  box-shadow: 0 0 4px 0px rgba(35, 31, 32, 0.17);
  position: relative;
  z-index: 2;
  float: left; }
  .main-header-logo-section {
    height: 70px;
    width: 76px;
    background: #ffa016;
    float: left; }
  .main-header-nav-section {
    height: 100%;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-header-nav-section .icon-size .icons {
      font-size: 20px; }

.icon {
  background-image: url("/assets/images/sprites/svg/sprite-99392586.svg");
  display: inline-block; }

.icon--admin {
  width: 60px;
  height: 60px;
  background-position: 53.84615384615385% 0; }

.icon--ae {
  width: 32px;
  height: 16px;
  background-position: 82.27848101265823% 44.11764705882353%; }

.icon--au {
  width: 32px;
  height: 16px;
  background-position: 20.253164556962027% 100%; }

.icon--banking {
  width: 60px;
  height: 60px;
  background-position: 0 82.6086956521739%; }

.icon--gklogo {
  width: 70px;
  height: 76px;
  background-position: 0 0; }

.icon--ie {
  width: 32px;
  height: 16px;
  background-position: 40.50632911392405% 100%; }

.icon--inventory {
  width: 60px;
  height: 60px;
  background-position: 92.3076923076923% 82.6086956521739%; }

.icon--it {
  width: 32px;
  height: 16px;
  background-position: 44.30379746835443% 44.11764705882353%; }

.icon--pr {
  width: 32px;
  height: 16px;
  background-position: 0 100%; }

.icon--purchase {
  width: 60px;
  height: 60px;
  background-position: 100% 0; }

.icon--sales {
  width: 60px;
  height: 60px;
  background-position: 46.15384615384615% 82.6086956521739%; }

.dropdown {
  position: relative;
  background: #fff;
  z-index: 2;
  border-left: 1px solid #f5f6f8;
  cursor: pointer;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif; }
  .dropdown-label {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #253b49;
    padding: 18px;
    height: 100%;
    text-decoration: none; }
    .dropdown-label-avatar {
      width: 34px;
      height: 34px;
      text-align: center;
      background: #9cc7e2;
      float: left;
      border-radius: 50%;
      vertical-align: middle;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 15px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .dropdown-label-title {
      max-width: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  .dropdown-arrow_box {
    position: absolute;
    background: #fff;
    border: 1px solid #f5f6f8;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(35, 31, 32, 0.17);
    box-shadow: 0px 2px 3px 0px rgba(35, 31, 32, 0.17);
    display: block;
    min-width: 200px;
    top: 85px;
    right: 10px;
    list-style: none; }
    .dropdown-arrow_box.dropdown-flags {
      width: 300px; }
      .dropdown-arrow_box.dropdown-flags > li > a {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
    .dropdown-arrow_box:after, .dropdown-arrow_box:before {
      bottom: 100%;
      left: 90%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .dropdown-arrow_box:after {
      /*border-color: transparent;*/
      border-bottom-color: #fff;
      border-width: 9px;
      margin-left: -9px; }
    .dropdown-arrow_box:before {
      /*border-color: $white;*/
      border-bottom-color: #f5f6f8;
      border-width: 11px;
      margin-left: -11px; }
    .dropdown-arrow_box.quick-link-dropdown {
      padding: 30px;
      width: auto; }
      .dropdown-arrow_box.quick-link-dropdown li {
        width: 33.33%;
        float: left; }
    .dropdown-arrow_box.quick-link-dropdown {
      width: 320px; }
      .dropdown-arrow_box.quick-link-dropdown li {
        border: none; }
        .dropdown-arrow_box.quick-link-dropdown li:active, .dropdown-arrow_box.quick-link-dropdown li:focus, .dropdown-arrow_box.quick-link-dropdown li:hover {
          background: transparent;
          border: none; }
        .dropdown-arrow_box.quick-link-dropdown li > a {
          text-align: center;
          border: 1px solid #fff; }
          .dropdown-arrow_box.quick-link-dropdown li > a:active, .dropdown-arrow_box.quick-link-dropdown li > a:focus, .dropdown-arrow_box.quick-link-dropdown li > a:hover {
            border: 1px solid #f5f6f8;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .dropdown-data {
    border-bottom: 1px solid #f5f6f8; }
    .dropdown-data:last-child {
      border-bottom: none; }
    .dropdown-data a {
      display: block;
      text-decoration: none;
      color: #253b49;
      font-size: 14px;
      padding: 15px;
      font-family: 'Roboto', sans-serif; }
      .dropdown-data a span {
        display: inline-block;
        padding-right: 10px; }
    .dropdown-data:hover {
      background: #f5f6f8;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
  .dropdown-inner {
    display: relative;
    list-style: none; }
  .dropdown-flags span {
    margin-right: 10px; }
  .dropdown nav {
    height: 100%; }

.main-sidebar {
  background: #fff;
  width: 260px;
  height: 100%;
  float: left; }
  .main-sidebar-nav-inner {
    padding: 15px 0; }
    .main-sidebar-nav-inner > li.active {
      background: #f5f6f8; }
    .main-sidebar-nav-inner li {
      border-bottom: 1px solid #f5f6f8;
      position: relative; }
      .main-sidebar-nav-inner li:hover {
        background: #f5f6f8;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; }
      .main-sidebar-nav-inner li:last-child {
        border-bottom: none; }
      .main-sidebar-nav-inner li a {
        text-decoration: none;
        color: #253b49;
        padding: 15px;
        font-size: 14px;
        display: block; }
        .main-sidebar-nav-inner li a span {
          margin-right: 10px;
          display: inline-block;
          font-size: 18px; }
      .main-sidebar-nav-inner li.has-child:after {
        color: #253b49;
        font-family: FontAwesome;
        content: "\f104";
        position: absolute;
        top: 0;
        right: 20px;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease; }
      .main-sidebar-nav-inner li.has-child.active > .has-sub {
        color: #0c7cd5;
        font-weight: 500; }
      .main-sidebar-nav-inner li.has-child.active:after {
        top: 0;
        right: 20px;
        -webkit-transform: translateY(100%) rotate(-90deg);
        transform: translateY(100%) rotate(-90deg);
        color: #0c7cd5; }
      .main-sidebar-nav-inner li.has-child.active .icons {
        color: #0c7cd5; }
      .main-sidebar-nav-inner li ul {
        opacity: 0;
        max-height: 0;
        width: 100%;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear; }
        .main-sidebar-nav-inner li ul.first-level {
          background: #cae6fc; }
        .main-sidebar-nav-inner li ul.second-level {
          background: #e3f2fd; }
          .main-sidebar-nav-inner li ul.second-level li a {
            padding-left: 64px; }
        .main-sidebar-nav-inner li ul.third-level {
          background: white; }
        .main-sidebar-nav-inner li ul.show {
          opacity: 1;
          max-height: 100%; }
          .main-sidebar-nav-inner li ul.show > li {
            -webkit-transition: all 300ms linear;
            transition: all 300ms linear; }
        .main-sidebar-nav-inner li ul li {
          -webkit-transition: all 300ms linear;
          transition: all 300ms linear; }
          .main-sidebar-nav-inner li ul li a {
            display: block;
            padding-left: 44px; }
  .main-sidebar-title-area {
    text-align: center;
    background: #0c7cd5;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-sidebar-title-area-title {
      font-size: 22px;
      color: #fff;
      font-weight: normal;
      width: 100%;
      text-align: center; }

.content-wrapper {
  width: 100%;
  background: #f5f6f8;
  float: left;
  height: calc(100vh - 70px); }

.content-area {
  float: left;
  width: calc(100% - 260px); }

.content-header {
  width: 100%;
  height: 50px;
  background: #cae6fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .content-header-toggler {
    padding: 0 20px;
    margin-right: 20px;
    cursor: pointer;
    border-right: 1px solid #9fbcce;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .content-header-toggler:hover {
      background: #52adf5;
      color: #fff;
      border-right-color: #52adf5; }
  .content-header-title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #253b49;
  font-size: 100%;
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3 {
  color: #253b49; }

ul, li, ol {
  list-style: none; }

.hide {
  display: none !important; }
